/* Configurações gerais e seletores */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 95vh;
    background-image: url('../img/galaxy.jpg');
    background-size: cover;
    color: white;
}

ul{
    list-style-type: none;
}


a{
    text-decoration: none;
}

/* Paleta de cores / Colors */
:root{
    --color-font: #bbbbbb;
    --color-white: #fff;
    --color-black: rgb(22, 22, 22);
}

/* Header */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    line-height: 20px;
    margin-left: 40px;
}

.logo > a h1, .logo > a h4{
    margin: 0;
}


/* Navigation */

#navigation > #main-navigation{
    display: flex;
    margin: 30px 20px;
}

#navigation #main-navigation li a{
    margin-left: 15px;
    font-size: 1rem;
    /* text-transform: uppercase; */
    font-weight: bold;
    color: var(--color-font);
    padding: 10px;
    border: 2px solid transparent;
}

#navigation #main-navigation li a:hover{
    color: #d8d4de;
}

.menu_active {
    border: 2px solid var(--color-white) !important;
    border-radius: 2px;
    color: var(--color-white) !important;
    background-color: var(--color-black);
}

/* Content */

#content{
    display: flex;
    margin-top: 20px;
}

.planet-side{
    display: flex;
    justify-content: center;
    width: 60%;
}

.planet-side > img{
    width: 400px;
    height: 100%;
}

.content-side{
    width: 40%;
    display: flex;
    flex-direction: column;
}


.content-side > .info h1{
    font-size: 3.5rem;
    margin: 5px 0;
}

.content-side > .info p{
    color: var(--color-font);
    width: 75%;
    font-size: 1rem;
    line-height: 24px;
}






