/* Configurações gerais e seletores */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 95vh;
    background-image: url('../img/background-space.jpg');
    /* background: black; */
    background-size: cover;
    color: white;
}

ul{
    list-style-type: none;
}


a{
    text-decoration: none;
}

/* Paleta de cores / Colors */
:root{
    --color-font: #bbbbbb;
    --color-white: #fff;
    --color-black: rgb(22, 22, 22);
    --color-btn-content: #4e0b68;
}

/* Header */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    line-height: 20px;
    margin-left: 40px;
}

.logo > a h1, .logo > a h4{
    margin: 0;
}


/* Navigation */

#navigation > #main-navigation{
    display: flex;
    margin: 30px 20px;
}

#navigation #main-navigation li a{
    margin-left: 15px;
    font-size: 1rem;
    /* text-transform: uppercase; */
    font-weight: bold;
    color: var(--color-font);
    padding: 10px;
    border: 2px solid transparent;
}

#navigation #main-navigation li a:hover{
    color: #d8d4de;
}

.menu_active {
    border: 2px solid var(--color-white) !important;
    border-radius: 2px;
    color: var(--color-white) !important;
    background-color: var(--color-black);
}

/* Content */

#content{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.planet-side{
    display: flex;
    justify-content: center;
    width: 60%;
}

.planet-side > img{
    width: 400px;
    height: 100%;
}

.content-side{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.info{
    margin-bottom: 35px;
}


.content-side > .info h1{
    font-size: 3.5rem;
    margin: 5px 0;
}

.content-side > .info p{
    color: var(--color-font);
    width: 60%;
    font-size: 1rem;
    line-height: 24px;
}

.info > span{
    color: #bbbbbb;
}
.info > span > a{
    color: var(--color-white);
    text-decoration: underline;
}

.content-side > .btn-content {
    width: 60%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid var(--color-font);
    border-radius: 2px;
    font-size: 1.2rem;
    color: var(--color-font);
    text-align: center;
    background: none;
}

.content-p{
    width: 60%;
    height: 150px;
}

.content-side > .btn-content:hover{
    background-color: var(--color-btn-content);
    border: 1px solid var(--color-btn-content);
}


/* Content Cards */

#info-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
}

.card-item{
    width: 70%;
    padding: 0 10px;
    border: 1px solid var(--color-font);
    border-radius: 3px;
}


.card-item > h3{
    font-size: 1rem;
    margin: 10px;
    margin-bottom: 5px;
    color: var(--color-font);
}

.card-item > span > h1{
    display: inline-block;
    font-size: 2.75rem;
    margin: 10px;
}




